<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752960257037-i12d026jgn5s3p5dao91dfju171se0v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752960257037-i12d026jgn5s3p5dao91dfju171se0v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDb-1L1HRz10Je6SA6WApYmnnpTAI0k5mc</string>
	<key>GCM_SENDER_ID</key>
	<string>752960257037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seesay</string>
	<key>PROJECT_ID</key>
	<string>logintest-fcb27</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-fcb27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752960257037:ios:d74048ab524a78678ea944</string>
</dict>
</plist>